$info-color: #00A1FF;
$warn-color: #FF901C;
$error-color: #FF3E52;
$debug-color: #A9FFA3;
$name-color: #A8B2B5;
$message-color: #C9D3D6;
$type-background: #040B0D;
$log-background: #1A2022;

@mixin flexbox() {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.container {
	@include flexbox;
	width: 100%;

	.title {
		background: $type-background;
		color: $error-color;
		font-size: 13px;
		margin-left: auto;
		padding: 5px;
	}

	.log {
		@include flexbox;
		width: 100%;
		justify-content: flex-start;
		background: $log-background;
		font-family: Arial, sans-serif;
		border-bottom: 1px solid $name-color;

		.item {
			@include flexbox;
			min-height: 30px;
			padding: 10px;
			font-weight: initial;
			text-transform: uppercase;

		}

		.prettyprint {
			border: 0;
		}

		.type {
			height: 20px;
			background: $type-background;
			color: #eee;
			font-size: 13px;
			padding: 0 10px 0 10px;
			margin: 10px 0 10px 10px;
		}

		.type-debug {
			color: $debug-color;
		}

		.type-info {
			color: $info-color;
		}

		.type-warn {
			color: $warn-color;
		}

		.type-error {
			color: $error-color;
		}

		.name {
			font-weight: bold;
			color: $name-color;
		}

		.message {
			text-transform: none;
			color: $message-color;
		}

	}

}


