<div class="container" *ngIf="call.sender_id && call.sender_id !== call.receiver_id">
<!--	<app-video class="localVideo" [mediaStream]="call.local_media_stream" [defaultView]="call.local_image_no_camera" [muted]="true"></app-video>-->
<!--	<app-video class="remoteVideo" [mediaStream]="call.remote_media_stream" [defaultView]="call.remote_image_no_camera"></app-video>-->

	<div *ngFor="let item of media_streams">
		<app-video [class]="item.type" [mediaStream]="item.stream" [defaultView]="item.type === 'local_user_media' ? call.local_image_no_camera : call.remote_image_no_camera" [muted]="item.type === 'local_user_media'"></app-video>
<!--		<video *ngIf="item.type.indexOf('display') > -1" [srcObject]="item.stream"></video>-->
	</div>


	<app-video class="record" *ngIf="call.recorder.record" [srcUrl]="call.recorder.record.url" [controls]="true" [defaultView]="undefined"></app-video>

	<div class="controlPanel">
		<app-button
			#record
			[icons]="{
				defaultIcon: icons.faFileVideo,
				clickedIcon: icons.faStop
			}"
			(onClick)="record.statusClick ? call.recorder.startRecording() : call.recorder.stopRecording()"
		></app-button>
		<app-button
			[icons]="{
				defaultIcon: icons.faVideo,
				clickedIcon: icons.faVideoSlash
			}"
			(onClick)="call.switch_user_media_video()"
		></app-button>
		<app-button
			[icons]="{
				defaultIcon: icons.faMicrophone,
				clickedIcon: icons.faMicrophoneSlash
			}"
			(onClick)="call.switch_user_media_audio()"
		></app-button>
		<app-button
			id="fullscreen"
			[icons]="{
				defaultIcon: icons.faExpand,
				clickedIcon: icons.faCompress
			}"
			(onClick)="full_screen()"
		></app-button>
		<app-button
			id="hangup"
			[icons]="{
				defaultIcon: icons.faPhoneSlash
			}"
			(onClick)="call.user_media_p2p.disconnect()"
		></app-button>
	</div>

</div>

<h1 class="error" *ngIf="call.sender_id === call.receiver_id">
	You can't start video call with your self.
</h1>

<h1 class="error" *ngIf="!call.sender_id">
	Authorization required.
</h1>
