<div class="container" *ngIf="userId && userId !== companionId">
	<app-video class="localVideo" [mediaStream]="mediaStream.getStream()" [defaultView]="localDefaultView" [muted]="true"></app-video>
	<app-video class="remoteVideo" [mediaStream]="p2p.remoteStream" [defaultView]="remoteDefaultView"></app-video>

	<app-video class="record" *ngIf="recorder.record" [srcUrl]="recorder.record.url" [controls]="true" [defaultView]="undefined"></app-video>

	<div class="controlPanel">
		<app-button
			#record
			[icons]="{
				defaultIcon: icons.faFileVideo,
				clickedIcon: icons.faStop
			}"
			(onClick)="record.statusClick ? recorder.startRecording() : recorder.stopRecording()"
		></app-button>
		<app-button
			[icons]="{
				defaultIcon: icons.faVideo,
				clickedIcon: icons.faVideoSlash
			}"
			(onClick)="changeVideo()"
		></app-button>
		<app-button
			[icons]="{
				defaultIcon: icons.faMicrophone,
				clickedIcon: icons.faMicrophoneSlash
			}"
			(onClick)="changeAudio()"
		></app-button>
		<app-button
			id="hangup"
			[icons]="{
				defaultIcon: icons.faPhoneSlash
			}"
			(onClick)="p2p.endCall()"
		></app-button>
	</div>

</div>

<h1 class="error" *ngIf="userId === companionId">
	You can't start video call with your self.
</h1>

<h1 class="error" *ngIf="!userId">
	Authorization required.
</h1>
