<div class="container">
	<app-video [mediaStream]="mediaStream.getStream()" [muted]="true"></app-video>
	<app-video *ngIf="p2p.remoteStream" [mediaStream]="p2p.remoteStream"></app-video>
	<app-video *ngIf="recorder.record" [src]="recorder.record.url"></app-video>

	<button (click)="p2p.endCall()">End Call</button>
	<button (click)="recorder.startRecording()">Start</button>
	<button (click)="recorder.stopRecording()">Stop</button>
	<button (click)="changeVideo()">OnOffVideo</button>
	<button (click)="changeAudio()">OnOffAudio</button>
</div>
